<!DOCTYPE html>
<html ng-app="PatchManager">
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="lib/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
    <script src="lib/angular/angular.js"></script>
    <script src="./lib/angular-animate/angular-animate.js" type="text/javascript"></script>
    <script src="./lib/angular-aria/angular-aria.js" type="text/javascript"></script>
    <script src="./lib/angular-material/angular-material.js" type="text/javascript"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services/releasesService.js"></script>
    <script src="app/services/patchesService.js"></script>
    <script src="app/services/patchManagerContext.js"></script>
    <script src="app/Controllers/sidenavController.js"></script>
    <script src="app/Controllers/releaseController.js"></script>
    <script src="app/Controllers/newPatchController.js"></script>
    <script src="app/Controllers/homeController.js"></script>

</head>

<body ng-cloak layout="column" ng-controller="homeController">

    <md-toolbar layout="row">
        <md-button class="menu" ng-click="toggleSidenav()">
            <md-icon md-font-library="material-icons">menu</md-icon>
        </md-button>
        <h3>Patch Manager</h3>
    </md-toolbar>

    <div flex class="container" layout="row">

        <md-sidenav md-component-id="left" md-is-locked-open="false" class="md-whiteframe-4dp">
            <md-list ng-cloak="" class="listdemoListControls" ng-controller="sidenavController">

                <md-subheader class="md-no-sticky">Choose the release</md-subheader>
                <md-list-item ng-click="selectRelease(currentRelease.version)" class="secondary-button-padding">
                    <p>Current ({{currentRelease.version}})</p>
                </md-list-item>
                <md-list-item>
                    <p flex>Older Ones</p>
                    <md-select class="md-secondary" ng-model="selectedRelease" md-on-close="selectRelease(selectedRelease)">
                        <md-option ng-repeat="release in allReleases">{{release.version}}</md-option>
                    </md-select>
                </md-list-item>

                <md-divider />

                <md-subheader class="md-no-sticky">Filters</md-subheader>
                <md-list-item>
                    <p flex>Choose your mode</p>
                    <md-select class="md-secondary" ng-model="settings.mode">
                        <md-option>Patches Gathering</md-option>
                        <md-option>Merges</md-option>
                        <md-option>Tests</md-option>
                    </md-select>
                </md-list-item>
                <md-list-item ng-show="settings.mode==='Merges'">
                    <p>Show Rejected</p>
                    <md-checkbox class="md-secondary" ng-model="settings.showRejected"></md-checkbox>
                </md-list-item>
                <md-list-item ng-show="settings.mode==='Merges'">
                    <p>Hide Non Ready Gerrits</p>
                    <md-checkbox class="md-secondary" ng-model="settings.hideNonReadyGerrits"></md-checkbox>
                </md-list-item>
                <md-list-item ng-show="settings.mode==='Tests'">
                    <p>Hide Tested Gerrits</p>
                    <md-checkbox class="md-secondary" ng-model="settings.hideTestedGerrits"></md-checkbox>
                </md-list-item>
                <md-list-item ng-show="settings.mode==='Tests'">
                    <p>Hide Non Merged Gerrits</p>
                    <md-checkbox class="md-secondary" ng-model="settings.hideNonMergedGerrits"></md-checkbox>
                </md-list-item>

                <md-divider />

                <md-subheader class="md-no-sticky">Settings</md-subheader>
                <md-list-item>
                    <md-icon md-font-library="material-icons">{{settings.viewTypeIcon}}</md-icon>
                    <p>View : {{ settings.viewType }}</p>
                    <md-switch class="md-secondary" ng-model="settings.showCards"></md-switch>
                </md-list-item>

            </md-list>
        </md-sidenav>

        <md-content flex id="content" style="background: lightgray">
            <div ng-view/>
        </md-content>
    </div>

</body>

</html>