<div>
    <div class="panel panel-default">
        <div class="panel-heading">About this patch</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <label for="releaseManager">Release Manager </label>
                    <a class="btn btn-primary" href="mailto:{{patch.ReleaseManagerMail}}" id="releaseManager">{{patch.ReleaseManager}}</a>
                </div>

                <div class="col-md-2">
                    <label for="version">Version </label>
                    <a class="btn btn-default" id="version">{{patch.Version}}</a>
                </div>

                <div class="col-md-4">
                    <label for="date">Date </label>
                    <a class="btn btn-default" id="date">{{patch.Date | date:'mediumDate'}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Gerrits</div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Gerrit</th>
                    <th>Title</th>
                    <th>Jira</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="gerrit in patch.Gerrits">
                        <td><button type="button" class="btn btn-success active btn-sm" ng-click="refreshGerrit(gerrit)"><span class="glyphicon glyphicon-refresh"></span></button></td>
                        <td>{{gerrit.Id}}</td>
                        <td>{{gerrit.Title}}</td>
                        <td>{{gerrit.Jira}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
