<div ng-cloak="">
    <!--<div class="alert alert-danger" ng-hide="patch.isCurrent===true">
        <strong>Beware !</strong> This is not the current patch !
    </div>-->
    <md-content>
        <!--<div layout="row">-->
        <!--  -->

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
            <!--<div class="panel-heading">About this patch</div>-->

            <md-input-container>
                <label>Release Manager</label>
                <input ng-model="patch.releaseManager" ng-disabled="true">
                <!--<md-button class="md-primary" ng-href="mailto:{{patch.releaseManagerMail}}" target="_blank">{{patch.releaseManager}}</md-button>-->
            </md-input-container>

            <md-input-container>
                <label>Version</label>
                <input ng-model="patch.version" ng-disabled="true">
            </md-input-container>

            <md-input-container>
                <label>Date</label>
                <input ng-model="patch.date" ng-disabled="true">
            </md-input-container>
        </section>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
            <md-button style="float: left;" class="md-raised md-primary" ng-click="refreshAllGerrits()">Refresh All</md-button>
            <md-button style="float: right;" class="md-raised md-warn" data-toggle="modal" data-target="#myModal" ng-click="newGerrit={}"><span class="glyphicon glyphicon-plus"></span> Add Gerrit</md-button>
        </section>

        <section layout-align="center center">

            <div class='md-padding' layout="row" layout-wrap>

                <md-card ng-repeat="gerrit in gerrits" style="width: 300px">
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="images/avatar.png">
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{gerrit.jira.id}}</span>
                            <span class="md-subhead">{{gerrit.jira.description}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout="row" layout-align="space-between stretch">
                            <p flex="20">{{gerrit.id}}</p>
                            <p flex="80">{{gerrit.title}}</p>
                        </div>
                        <div layout="row" layout-align="space-between stretch" layout-wrap>

                            <md-menu>
                                <md-button class="md-raised md-primary" ng-click="openMenu($mdOpenMenu, $event)">{{gerrit.status.patch}}</md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="applyActionToGerrit(gerrit,'accept')" ng-disabled="gerrit.status.patch == 'Accepted'">
                                            <md-icon md-svg-icon="images/check.svg" md-menu-align-target></md-icon>
                                            Accept
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="applyActionToGerrit(gerrit,'ask')" ng-disabled="gerrit.status.patch == 'Asked'">
                                            <md-icon md-svg-icon="images/question.svg" md-menu-align-target></md-icon>
                                            Asked
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="applyActionToGerrit(gerrit,'refuse')" ng-disabled="gerrit.status.patch == 'Refused'">
                                            <md-icon md-svg-icon="images/cross.svg" md-menu-align-target></md-icon>
                                            Refuse
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>

                            <md-menu>
                                <md-button class="md-raised md-primary" ng-click="openMenu($mdOpenMenu, $event)">{{gerrit.status.jira}}</md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="applyActionToGerrit(gerrit,'resolve')" ng-disabled="gerrit.status.jira == 'Resolved'">
                                            <md-icon md-svg-icon="images/check.svg" md-menu-align-target></md-icon>
                                            Resolve
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>

                            <md-menu>
                                <md-button class="md-raised md-primary" ng-click="openMenu($mdOpenMenu, $event)">{{gerrit.status.merge}}</md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="applyActionToGerrit(gerrit,'merge')" ng-disabled="gerrit.status.merge == 'Merged'">
                                            <md-icon md-svg-icon="images/check.svg" md-menu-align-target></md-icon>
                                            Merge
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>

                            <md-menu>
                                <md-button class="md-raised md-primary" ng-click="openMenu($mdOpenMenu, $event)">{{gerrit.status.test}}</md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="applyActionToGerrit(gerrit,'tested')" ng-disabled="gerrit.status.test == 'Tested'">
                                            <md-icon md-svg-icon="images/check.svg" md-menu-align-target></md-icon>
                                            Test Completed
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="applyActionToGerrit(gerrit,'toTest')" ng-disabled="gerrit.status.test == 'Tested'">
                                            <md-icon md-svg-icon="images/question.svg" md-menu-align-target></md-icon>
                                            To Test
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="applyActionToGerrit(gerrit,'issueFound')" ng-disabled="gerrit.status.test == 'Tested'">
                                            <md-icon md-svg-icon="images/cross.svg" md-menu-align-target></md-icon>
                                            Issue
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            
                        </div>
                    </md-card-content>
                    <!--<md-card-actions layout="row" layout-align="space-between center">
                        <md-button class="md-raised md-primary">Accept</md-button>
                        <md-button class="md-raised md-warn">Refuse</md-button>
                        <md-button class="md-fab md-mini md-primary" aria-label="Refresh" ng-click="refreshGerrit(gerrit)">
                            <md-icon md-svg-src="images/refresh.svg"></md-icon>
                        </md-button>
                    </md-card-actions>-->
                </md-card>
            </div>
        </section>
    </md-content>
</div>

