<!DOCTYPE html>
<html lang="en">
<head>
    <title>Another proposal for MyFxHedge, in material design</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
</head>

<body ng-app="starterApp" layout="column" ng-controller="UserController as ul">

<md-toolbar layout="row">
    <md-button class="menu" ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>MyFxHedge - Material Design</h1>
</md-toolbar>

<div flex layout="row">

    <md-sidenav md-is-locked-open="false" class="md-whiteframe-z2" md-component-id="left">
        <md-list>
            <md-subheader class="md-no-sticky">Let us Know About Your Activity</md-subheader>
            <md-list-item ng-repeat="profile in profiles">
                <p>{{ profile.name }}</p>
                <md-checkbox class="md-secondary" ng-model="profile.selected"></md-checkbox>
            </md-list-item>
            <md-list-item ng-repeat="currency in currencies">
                <p>{{ currency.header }}</p>
                <md-select placeholder="Expenses" ng-model="currency.currency">
                    <md-option value="EUR">EUR</md-option>
                    <md-option value="USD">USD</md-option>
                    <md-option value="JPY">JPY</md-option>
                    <md-option value="CHF">CHF</md-option>
                </md-select>
            </md-list-item>
            <md-divider/>

            <md-subheader class="md-no-sticky">Your Hedging Strategy</md-subheader>
            <md-list-item ng-repeat="strategy in strategies" ng-click="goToPerson(person.name, $event)">
                <img alt="{{ strategy.name }}" ng-src="{{ strategy.img }}" class="md-avatar"/>

                <p>{{ strategy.name }}</p>
                <md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)"
                         aria-label="Open Chat" class="md-secondary md-hue-3"
                         ng-class="{'md-primary': person.newMessage}"></md-icon>
            </md-list-item>
            <md-divider/>
        </md-list>
    </md-sidenav>

    <md-content flex id="content">

        <div class="gridListdemoBasicUsage">
            <md-grid-list
                    md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="2:2"
                    md-gutter="12px" md-gutter-gt-sm="8px">

                <md-grid-tile class="gray"
                              md-rowspan="2" md-colspan="4" md-colspan-sm="4">
                    <!-- n3 chart -->
                    <linechart data="data" options="options" mode="" width="" height=""></linechart>

                    <!-- highcharts -->
                    <!--<highchart id="chart1" config="chartConfig"></highchart>-->
                </md-grid-tile>

                <md-grid-tile class="blue"
                              md-rowspan="3" md-colspan="2" md-colspan-sm="4">

                    <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
                        <md-button class="md-primary" ng-click="showListBottomSheet($event)">
                            Show as List
                        </md-button>
                        <md-button class="md-primary" ng-click="showGridBottomSheet($event)">
                            Show as Grid
                        </md-button>
                    </div>

                    <md-grid-tile-footer>
                        <h3>The products to buy</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="green"
                              md-rowspan="1" md-colspan="1" md-colspan-sm="4">
                    <md-grid-tile-footer>
                        <h3>The KPI</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="green"
                              md-rowspan="1" md-colspan="1" md-colspan-sm="4">
                    <md-grid-tile-footer>
                        <h3>The KPI</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="green"
                              md-rowspan="1" md-colspan="1" md-colspan-sm="4">
                    <md-grid-tile-footer>
                        <h3>The KPI</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="green"
                              md-rowspan="1" md-colspan="1" md-colspan-sm="4">
                    <md-grid-tile-footer>
                        <h3>The KPI</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </md-content>

</div>

<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
<script src="./bower_components/d3/d3.min.js"></script>
<script src="./bower_components/n3-line-chart/build/line-chart.min.js"></script>
<script src="http://code.highcharts.com/adapters/standalone-framework.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="./bower_components/highcharts-ng/dist/highcharts-ng.min.js"></script>

<script src="./src/users/Users.js"></script>
<script src="./src/users/UserController.js"></script>
<script src="./src/users/UserService.js"></script>

<script type="text/javascript">

    angular
            .module('starterApp', ['ngMaterial', 'users'])
            .config(function ($mdThemingProvider, $mdIconProvider) {

                $mdIconProvider
                        .defaultIconSet("./assets/svg/avatars.svg", 128)
                        .icon("menu", "./assets/svg/menu.svg", 24)
                        .icon("share", "./assets/svg/share.svg", 24)
                        .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                        .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                        .icon("twitter", "./assets/svg/twitter.svg", 512)
                        .icon("phone", "./assets/svg/phone.svg", 512);

                $mdThemingProvider.theme('default')
                        .primaryPalette('brown')
                        .accentPalette('red');

            });

</script>

</body>
</html>
